{% extends 'base.html.twig' %}

{% block title %}Détails d'un module{% endblock %}

{% block body %}
<h1>Détail d'un module de formation :</h1>
<p>Module : {{ formModule.getModuleName() }}</p>
<p>Catégorie : {{ formModule.categorie.CategoryModuleName }}</p>
<p>Sessions associées :
    {% for programme in formModule.programmes %}
        {{ programme.session.sessionName }} - {{ programme.duree }} jours     
    {% endfor %}
</p>

{% endblock %}