{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

{% for formModule in formModules %}

        <p>{{ formModule.getModuleName() }} - Catégorie : {{ formModule.categorie.CategoryModuleName }}</p>
    
{% endfor %}

{% endblock %}
