{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

{% for formModule in formModules %}

        <p><a href="{{path('form_module_detail', {'id': formModule.getId()})}}">{{ formModule.getModuleName() }}</a> - Catégorie : {{ formModule.categorie.CategoryModuleName }}</p>
    
{% endfor %}

{% endblock %}
