<h1>Salutations !</h1>

<p>
    Confirmez votre adresse email pour accéder au site en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À tout de suite sur SessionCraft !
</p>
