{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}

<h2 class="text-center mb-2 mt-3">Liste des stagiaires :</h2>

{% if is_granted('ROLE_ADMIN')%}
    <a href="{{path('stagiaire_new')}}" class='btn btn-primary m-3'>Ajoutez un stagiaire</a>
{% endif %}

{% for stagiaire in stagiaires %}

    <p><a class="text-decoration-none text-success fw-semibold border border-success rounded p-1 m-3" href="{{path('stagiaire_detail', {'id': stagiaire.getId()})}}">{{ stagiaire.prenom|capitalize }} {{ stagiaire.nom|capitalize }}</a></p>
{% endfor %}
{% endblock %}
