{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}

<h2>Liste des stagiaires :</h2>

{% if is_granted('ROLE_ADMIN')%}
    <a href="{{path('stagiaire_new')}}" class='btn btn-primary'>Ajoutez un stagiaire</a>
{% endif %}

{% for stagiaire in stagiaires %}

    <p><a href="{{path('stagiaire_detail', {'id': stagiaire.getId()})}}">{{ stagiaire.prenom|capitalize }} {{ stagiaire.nom|capitalize }}</a></p>
{% endfor %}
{% endblock %}
